<h1>Lista de Repuestos</h1>

<div class="list-group">
    
    <a href="https://mpago.la/2k81tm9" target="_blank" class="list-group-item">
        <h4>Repuesto 1 </h4>
        <img src="../assets/engrane.png">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ratione dicta molestiae aspernatur aliquid voluptatibus eveniet atque tempore consectetur non voluptatem, ab repudiandae nulla illo incidunt laborum sit praesentium saepe.</p>
    </a>
    <a href="#" class="list-group-item"><p>Repuesto 2</p></a>
    <a href="#" class="list-group-item">Repuesto 3</a>
    <a href="#" class="list-group-item">Repuesto 4</a>
    <a href="#" class="list-group-item">Repuesto 5</a>
    <a href="#" class="list-group-item">Repuesto 6</a>
    <a href="#" class="list-group-item">Repuesto 7</a>
</div>