<h1>Lista de Repuestos</h1>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Repuesto 1</a>
    <a href="#" class="list-group-item list-group-item-action">Repuesto 2</a>
    <a href="#" class="list-group-item list-group-item-action">Repuesto 3</a>
    <a href="#" class="list-group-item list-group-item-action">Repuesto 4</a>
    <a href="#" class="list-group-item list-group-item-action">Repuesto 5</a>
    <a href="#" class="list-group-item list-group-item-action">Repuesto 6</a>
    <a href="#" class="list-group-item list-group-item-action">Repuesto 7</a>
</div>