h1{
    text-align: center;
}
h4{
    max-width: 100%;
}
a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 110px;
    padding: 5px 20px;
    margin: 0;
    overflow: hidden;
}
a:hover{
    background-color: rgb(250, 205, 25);
}
img{
    height: 100px;
    border: 1px solid black;
}
p{
    max-width: 50%;

}