<h1>Soporte por maquina</h1>
<ul>
  <li class="item"><a routerLink="/soporte/MCE1" class="nav-link">MCE1</a></li>
  <li><a routerLink="/soporte/FH200" class="nav-link">FH200</a></li>
  <li><a routerLink="/soporte/UTL63" class="nav-link">UTL63</a></li>
  <li><a routerLink="/soporte/M70" class="nav-link">M70</a></li>
  <!-- Agrega más elementos de la lista según sea necesario -->
</ul>
<h1>Preguntas Frecuentes</h1>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4>No puedo ingresar al soporte de ningún modelo</h4>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Para poder ingresar al soporte debe ingresar el codigo de acceso enviado con su maquina, si tiene una maquina y el codigo no funciona o no lo recibió comuniquese con el <a href="#">servicio tecnico</a></p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h4>Otra Pregunta</h4>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Esta podría ser su respuesta</p>
      </div>
    </div>
  </div>


</div>
