<div class="container">
    <div class="hoja1">
        <img id="empanadas" src="../assets/empanadas.jpg" alt="Empanadas">
        <h1 class="año">2023</h1>
        <img id="logo" src="../assets/LOGO BLOTTA.jpg" alt="Blotta tecnología alimentaria">
    </div>
    <div class="precentacion">
        <h1>Cartilla Informativa Sobre Equipos:</h1>
        <p>A continuación detallaremos una cartilla informativa sobre las 
            consideraciones a tener en cuenta para la óptima puesta en marcha 
            de un equipo de producción industrial.</p>
    </div>
    <div class="intro">
        <h1>Introducción:</h1>
        <p>Todo equipo de producción industrial supone una serie de condiciones 
            necesarias para obtener su máximo desempeño tanto en rendimiento, 
            como en calidad y otras prestaciones que suponen la adquisición del 
            mismo. Para ello es fundamental la instalación de los mismos de manera 
            idónea y supervisada, tanto como la recepción de conocimientos de 
            parte de quienes serán usuarios u operadores, ya sean permanentes u ocasionales.</p>
    </div>
    
    <div class="obs">
        <h1>Observaciones Generales</h1>
        <h2>Sobre La Recepción Del Equipo</h2>
        <p>Es fundamental una vez recibido el equipo retirarlo de su embalaje a los 
            efectos de verificar su integridad posterior al transporte. Se recomienda 
            en lo posible emplazarlo en su lugar definitivo de montaje para prever espacios 
            y circuitos de trabajo.</p>
        <h2>Emplazamiento</h2>
        <p>El lugar de emplazamiento debe contar con las condiciones espaciales aptas al 
            igual que los servicios necesarios para cada equipo, ya sea electricidad, 
            neumática, agua corriente, desagües, etc, según sea requerido.</p>
        <h2>Solicitud De Puesta En Marcha</h2>
        <p>Esta deberá ser solicitada en tanto y en cuanto se hayan dado las
            condiciones previas para la misma, la prevision de los requisitos de
            emplazamiento del equipo hacen que la estadía de los técnicos
            durante la instalación sea optimizada para la labor específica que se
            va a desarrollar y que es ajustes y capacitación de personal. Es por
            eso que se pone mucho énfasis en tener previstos todo tipo de
            instalación, evitando así perdidas de tiempo en tareas generales
            como instalación de tomas de energía, compresores, tuberías, etc.
            Es fundamental saber de antemano que durante la puesta en
            marcha se van a tratar de adaptar diferentes metodologías de
            procesos (generalmente manuales o semi automáticos), a uno
            industrial, lo que conlleva a ajustes y modificaciones, se manifiesta
            todo esto para entender que el equipo no va a acoplarse en
            producción desde la hora CERO, sino luego de haber obtenido todos
            los parámetros y previa capacitación de sus operadores.</p>
        <h2>Recursos Humanos</h2>
        <p>Es un factor determinante el contar con recursos humanos al momento de poner 
            a funcionar un equipo, desde responsable y coordinador de los procesos y productos, 
            operarios, (permanentes o temporales), personal de mantenimiento y prevención, 
            control de calidad, etc. Este grupo de personas son las que adquirirán finalmente 
            el conocimiento aportado por el especialista encargado de la puesta en marcha, 
            por lo que se deberá prever que ese personal no debe estar afectado a producción 
            u otras tareas que comprometan la disponibilidad.</p>
        <h2>Llegada De Personal</h2>
        <p>El personal encargado de realizar la instalación del equipo será enviado una vez 
            cumplimentados todos los requisitos antes mencionados y completada la planilla de 
            verificación de condiciones previas en conformidad. Es importante destacar que la 
            instalación solo tiene costo de movilidad y viáticos de alojamiento y alimentación 
            durante el período pre acordado, el cual es típicamente 3 días. Tanto los costos como 
            las reservas de vuelos, hoteles, etc, serán a cargo del cliente, (previa aprobación 
            de Maquilar en cuanto a itinerarios y fechas de los mismos).</p>
        
    </div>
    <div class="extra">
        <p>En todos los casos posteriores a la puesta en marcha el cliente deberá 
            correr adicionalmente a los costos anrtes mencionados con los del Técnico, 
            lo cual asciende a 800 Dolares Estadounidenses por cada día de trabajo en fábrica.</p>
    </div>
    <div class="formulario">
        <h1>Planilla de Verificación</h1>
        <p>Si ya leyo la cartilla informativa porfavor llene el siguiente formulario:</p>
        <div class="ir">
            <a class="btn btn-outline-primary" role="button" href="https://docs.google.com/forms/d/e/1FAIpQLSdMopgdr8NZWjnOydu7K8K_8RoZYnYmCe2Q4UI7fqY1fcY8xw/viewform?usp=sf_link" target="_blank">Formulario</a>
        </div>
    </div>
</div>