<div class="container">
  <div class="pop">
    <p class="explicacion">Visita nuestra pagina web</p>
  </div>
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="http://www.blotta.com.ar/" target="_blank"><img class="logo" src="../assets/LOGO BLOTTA.jpg" alt=""></a></li>
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">INICIO</a></li>
      <li class="nav-item"><a routerLink="/videos" class="nav-link">PUESTA EN MARCHA</a></li>
      <li class="nav-item"><a routerLink="/fallas" class="nav-link">SOPORTE</a></li>
      <li class="nav-item"><a routerLink="/repuestos" class="nav-link">REPUESTOS</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link">CARTILLA</a></li>
    </ul>
  </header>
</div>
<router-outlet></router-outlet>

