<div class="container">
  <img src="../assets/LOGO BLOTTA.jpg" alt="">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="/videos" class="nav-link">PUESTA EN MARCHA</a></li>
      <li class="nav-item"><a routerLink="/fallas" class="nav-link">FALLAS</a></li>
      <li class="nav-item"><a routerLink="/repuestos" class="nav-link">REPUESTOS</a></li>
      <li class="nav-item"><a routerLink="" class="nav-link">otro</a></li>
    </ul>
  </header>
</div>
<router-outlet></router-outlet>
<button class="btn btn-danger">pelirgo</button>